.explore{
    min-width: fit-content;
}
.explore_search {
    display: flex;
    width: 600px;
}
.explore_search_input{
    float: left;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10x;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
}
.explore_search input {
    border: none;
    height: 40px;
    background-color: var(--twitter-background);
    outline: none;
  }
.settings_icon{
    padding: 15px;
    color: rgb(85, 84, 84);
    cursor: pointer;
}
.settings_icon:hover{
    background-color: #EFF3F4;
    transition: 0.5s;
}
.explore_menue{
    display: flex;
}
.explore_menue_item{
    text-decoration: none;
    color: inherit;
    padding: 18px;
}
.explore_menue_item:hover{
    background-color: #EFF3F4;
    transition: 0.5s;
}