<div class="explore">
  <div class="explore_search">
    <div class="explore_search_input">
      <span style="color: gray;" class="material-icons"> search </span>
      <input type="text" placeholder="Search Twitter" />
    </div>
    <span class="material-icons settings_icon">settings</span>
</div>
  <div class="explore_menue">
    <a routerLink="" class="explore_menue_item"><h6>For You</h6></a>
    <a routerLink="" class="explore_menue_item"><h6>Trending</h6></a>
    <a routerLink="" class="explore_menue_item"><h6>COVID-19</h6></a>
    <a routerLink="" class="explore_menue_item"><h6>News</h6></a>
    <a routerLink="" class="explore_menue_item"><h6>Sports</h6></a>
    <a routerLink="" class="explore_menue_item"><h6>Entertainment</h6></a>
  </div>
</div>
<router-outlet></router-outlet>
