<div class="profile_page">
    <div class="profile_bar">
        <span class="material-icons">arrow_back</span><span class="name">Mohamed&ensp;</span><span class="material-icons">next_week</span> 
    </div>
   <span class="profile_background_font">10 Tweets</span>
    <div class="profile_cover">
        <img src="../assets/img/cover.jpg" alt="cover">
        <div class="avatar_container"><img class="avatar" src="../assets/img/avatar.jpg" alt="cover"></div>
    </div>
    <div class="profile_information">
        <div class="profile_bar"><span class="name">Mohamed&ensp;</span><span class="material-icons">next_week</span></div>
        <span class="username">@MohamedRagabFer</span>
        <span class="grayname">Mohamed Ragab</span>
        <div class="information_bar">   
            <span class="material-icons information_bar_icons">place</span>
            <span class="information_details">Cairo, Egypt &ensp; &ensp;</span>
            <span class="material-icons information_bar_icons">emoji_emotions &ensp; &ensp;</span>
            <span class="information_details">Born February 2, 1999 &ensp; &ensp;</span>
            <span class="material-icons information_bar_icons">calendar_month &ensp; &ensp;</span>
            <span class="information_details">Joined June 2016 &ensp; &ensp;</span>
        </div>
        <div class="information_bar">   
            <span class="information_details"><strong style="color:black;">114</strong> Following &ensp; &ensp;</span>
            <span class="information_details"><strong style="color:black;">14</strong> Followers &ensp; &ensp;</span>
        </div>
    </div>
    <div class="profile_feed">
        <div class="explore_menue">
            <a routerLink="" class="explore_menue_item"><h6>Tweets</h6></a>
            <a routerLink="" class="explore_menue_item"><h6>Tweets & replies</h6></a>
            <a routerLink="" class="explore_menue_item"><h6>Media</h6></a>
            <a routerLink="" class="explore_menue_item"><h6>Links</h6></a>
          </div>
    </div>
</div>
