<!-- Feed Starts-->
<div class="feed">
  <div class="feed_header">
    <h2>Home</h2>
  </div>
  <!-- Tweetbox Starts-->
  <div class="tweetBox">
    <form action="">
      <div class="tweetBox_input">
        <img
          src="https://pickaface.net/gallery/avatar/unr_handsomemale_180407_1558_2pduwzt.png"
          alt="Avatar"
        />
        <input type="text" placeholder="What's happening" />
      </div>
      <button class="tweetBox_tweetButton">Tweet</button>
    </form>
  </div>
  <!-- Tweetbox Ends-->

  <!-- Post Section Starts -->
  <div class="post">
    <div class="post__avatar">
      <img
        src="https://pickaface.net/gallery/avatar/unr_handsomemale_180407_1558_2pduwzt.png"
        alt="Avatar"
      />
    </div>
    <div class="post_body">
      <div class="post_header">
        <div class="post_headerText">
          <h3>
            Mohamed Ragab
            <span class="post_headerSpecial">
              <span class="material-icons post_badge"> verified </span
              >@MohamedRagabFer
            </span>
          </h3>
        </div>
        <div class="post_headerDescription">
          <p>Hello From Angular Cloning Twitter web app</p>
        </div>
      </div>
      <img
        src="https://media.altchar.com/prod/images/940_530/gm-fae08772-8770-4ba3-b7ad-7264ceca67d1-need-for-speed-heat-pc-specs.jpg"
        alt="post image"
      />

      <div class="post_footer">
        <span
          ><span class="material-icons action_icons_reply"> reply </span>
          <span class="iconnumbers"> 190</span></span
        >
        <span>
          <span class="material-icons action_icons_repeat"> repeat </span
          ><span class="iconnumbers"> 190</span></span
        >
        <span
          ><span class="material-icons action_icons_fav"> favorite_border </span
          ><span class="iconnumbers"> 190</span></span
        >
        <span class="material-icons action_icons_publish"> publish </span>
      </div>
    </div>
  </div>
  <!-- Post Section Ends -->
  <!-- Post Section Starts -->
  <div class="post">
    <div class="post__avatar">
      <img
        src="https://pickaface.net/gallery/avatar/unr_handsomemale_180407_1558_2pduwzt.png"
        alt="Avatar"
      />
    </div>
    <div class="post_body">
      <div class="post_header">
        <div class="post_headerText">
          <h3>
            Mohamed Ragab
            <span class="post_headerSpecial">
              <span class="material-icons post_badge"> verified </span
              >@MohamedRagabFer
            </span>
          </h3>
        </div>
        <div class="post_headerDescription">
          <p>Hello From Angular Cloning Twitter web app</p>
        </div>
      </div>
      <img
        src="https://media.altchar.com/prod/images/940_530/gm-fae08772-8770-4ba3-b7ad-7264ceca67d1-need-for-speed-heat-pc-specs.jpg"
        alt="post image"
      />

      <div class="post_footer">
        <span
          ><span class="material-icons action_icons_reply"> reply </span>
          <span class="iconnumbers"> 190</span></span
        >
        <span>
          <span class="material-icons action_icons_repeat"> repeat </span
          ><span class="iconnumbers"> 190</span></span
        >
        <span
          ><span class="material-icons action_icons_fav"> favorite_border </span
          ><span class="iconnumbers"> 190</span></span
        >
        <span class="material-icons action_icons_publish"> publish </span>
      </div>
    </div>
  </div>
  <!-- Post Section Ends -->
</div>
<!-- Feed Ends-->
